html{
    scroll-behavior: smooth;
}
body{
    background-color: aquamarine;
    size: 62.5%;

}

a{
    text-decoration: none;
    color: black;
}
.topbar{
    display: flex;
    justify-content:space-between;
    font-size: 1.5rem;
}
.btn{
    margin-left: 5%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: black;
    border-radius: 1rem;
    border-style: solid;
    flex:1;
    background-color: cyan;
   
}
#shfl{
    background-color:rgb(0, 206, 0);
}
.btn:hover{
    transform:scale(1.1);
}
.moves{
    margin-bottom: 1rem;
    padding: 0.5rem;
    flex: 1;
    border: black;
    border-style: dotted;
    margin-left: 5%;
    background-color: lightgreen;
}
.time{
    margin-bottom: 1rem;
    padding: 0.5rem;
    flex: 1;
    border: black;
    border-style: dotted;
    margin-left: 5%;
    background-color: lightgreen;
}
.display{
    vertical-align: bottom;
    width: 70%;
    margin-left: 15%;
}


.gameboard{
    
    width: 40%;

   margin-left: 30%; 
    display: flex;
    flex-flow: column;
    justify-content:stretch;
    font-size: 3rem;

}
.row{
    display: flex;
    
    justify-content: space-evenly;
    
}
.cell{
    padding: 10% 10% 10% 10%;
    text-align: center;
    width:25%;
    height:25%;
    border-width: 0.3rem;
    border-radius: 1rem;
    border-color: darkblue;
    border-style:inset;

}
.cell:hover{
   /* background-color: greenyellow; */
   transform:scale(1.1);
}
.tile1{
    background-image:url("tiles/tile1.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.tile2{
    background-image:url("tiles/tile2.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.tile3{
    background-image:url("tiles/tile3.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.tile4{
    background-image:url("tiles/tile4.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.tile5{
    background-image:url("tiles/tile5.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.tile6{
    background-image:url("tiles/tile6.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.tile7{
    background-image:url("tiles/tile7.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.tile8{
    background-image:url("tiles/tile8.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.tile9{
    background-image:url("tiles/tile9.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.tile10{
    background-image:url("tiles/tile10.png")
    ;background-size:cover;
    background-repeat: no-repeat;
}
.tile13{
    background-image:url("tiles/tile13.png")
    ;background-size:cover;
    background-repeat: no-repeat;
}
.tile14{
    background-image:url("tiles/tile14.png")
    ;background-size:cover;
    background-repeat: no-repeat;
}
.tile15{
    background-image:url("tiles/tile15.png")
    ;background-size:cover;
    background-repeat: no-repeat;
}
.tile11{
    background-image:url("tiles/tile11.png")
    ;background-size:cover;
    background-repeat: no-repeat;
}
.tile12{
    background-image:url("tiles/tile12.png")
    ;background-size:cover;
    background-repeat: no-repeat;
}
.tile16{
    background-image:none;
    border-width: 0;
}

#testing{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    background-color: moccasin;
}
#board{
    margin-bottom: 2rem;
    font-size: 1.5rem;
    height : 25rem;
    background-color: lightskyblue;
}

@media(max-width:800px){
    .gameboard{
        width: 70%;
        margin-left: 15%;

    }
}
@media(max-width:500px){
    
    .topbar{
        flex-flow:column;
        font-size: medium;
    }
    .gameboard{
        width: 90%;
        margin-left: 5%;
    }
    #testing,#board{
        font-size:medium;}
    
}
